.about {
    .content {
        padding: 0 15px;
        margin-top: 40px;

        &-title {
            font-size: 1.6rem;
        }

        &-sub-title {
            font-weight: 500;
            margin-top: 10px;
        }
    }

    .block-two {
        background: url(../../assets/owners_bg.jpg);
        background-position: center;
        background-size: cover;

        .content {
            padding: 80px 15px;

            &-paragraph {
                width: 100%;
            }
        }

    }
}

@include for-phone-only {
    .about {
        .content {
            padding: 0 10px;

            &-title {
                font-size: 1.3rem;
            }
        }

        .block-two {
            .content {
                padding: 80px 10px;
            }

        }
    }
}

@include for-tablet-potrait-up {
    .about {
        .content {
            padding: 0 60px;
        }

        .block-two {
            .content {
                padding: 80px 60px;

                &-paragraph {
                    width: 100%;
                }
            }

        }
    }
}

@include for-tablet-landscape-up {}

@include for-desktop-up {
    .about {
        .block-two {
            .content {
                &-paragraph {
                    width: 50%;
                }
            }

        }
    }
}

@include for-big-desktop-up {}