body {
    font-family: 'Open Sans', sans-serif;
    color: #1c2530;
    font-weight: 300;
    line-height: 1.714285;

}


img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    align-self: center;
}