.affiliate-program {
    .content {
        margin-top: 40px;
        padding: 0 15px;

        &-list {
            margin: 20px 25px;
            list-style-type: disc;
        }


    }

}


@include for-phone-only {
    .affiliate-program {
        .content {
            padding: 0 10px;
        }

    }
}

@include for-tablet-potrait-up {
    .affiliate-program {
        .content {
            padding: 0 60px;

            &-paragraph {
                line-height: 35px;
            }

            &-list {
                margin: 20px 40px;
            }
        }

    }
}

@include for-tablet-landscape-up {}

@include for-desktop-up {}

@include for-big-desktop-up {}